.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color:burlywood;
  background-color: #d9bdb3;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);;


}
