
<div class="container">
  <div class="row">
    <div class="col-md-6" style="text-align:center;">
      <h3>liste invitation</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
          <th>id</th>
          <th>titreInvit</th>
          <th>status</th>
          <th>descInvit</th>
          <th>dateCreated </th>
          <th>emailEmpl</th>
          <th>emailSent</th>
          <th>lastUpdated</th>

          </thead>
          <tbody>
          <tr *ngFor="let u of listinvit">
            <td>{{u.idInvit}}</td>
            <td>{{u.titreInvit}}</td>
            <td>{{u.status}}</td>
            <td>{{u.descInvit}}</td>
            <td>{{u.dateCreated | date}}</td>
            <td>{{u.emailEmpl}}</td>
            <td>{{u.emailSent}}</td>
            <td>{{u.lastUpdated | date}}</td>
            <button (click)="delete(u.idInvit)" type="button" class="btn btn-primary">DELETE</button>
            <td><a class="btn btn-success" [routerLink]="['/update',u.idInvit]">Modifier</a></td>



          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
